.btn {
    &-primary {
        color: $white;

        &:hover, &:active, &:focus {
            color: $white;

            &:first-child {
                color: $white;
            }
        }
    }
    &-secondary {
        background: var(--body-bg);
        border: 2px solid var(--border);
        color: var(--text);
        padding: 0.38rem 0.9rem;

        &:hover {
            background: $grey-light;
            color: $grey_dark;
            border-color: var(--border);
        }
        @at-root .dark .btn-secondary {
            &:hover {
                background: $grey_dark;
                color: $white;
            }
        }
    }

    &.btn-theme {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
        background: var(--body-bg);
        color: var(--text);
        border: 1px solid var(--text);
        border-radius: 0 $border-radius $border-radius 0;
        cursor: pointer;
        position: fixed;
        left: 0;
        bottom: 1rem;
    }
}
