.cards {
    display: flex;
    flex-flow: wrap row;
    margin: 0 -0.75rem;
    justify-content: center;

    .card-wrapper {
        padding-top: 0.7rem;
        padding-bottom: 0.75rem;
        max-width: 23.75rem;
    }

    .card {
        display: flex;
        flex-flow: nowrap column;
        height: 100%;
        transition: background-color .3s;

        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            max-height: 200px;
            overflow: hidden;
            border-bottom: 1px solid var(--border);
            border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;

            img {
                display: block;
                min-width: 100%;
                min-height: 100%;
            }
        }
        &-body {
            flex: 1 0 0;
            padding: 1rem 1.5rem 1.1rem;

            .show-more {
                display: none;
                margin: .5rem 0 0;
                color: var(--text);
                font-weight: $font-weight_medium;
                cursor: pointer;

                &:before {
                    content: 'Show more...'
                }
            }

            &.less {
                .show-more {
                    &:before {
                        content: 'Hide text'
                    }
                }
            }
        }

        &.need-more {
            .show-more {
                display: block;
            }
        }

        &-text {
            display: block;
            margin: 0;
            height: 3rem;
            transition: all .3s;
            overflow: hidden;

            span {
                display: block;
            }
        }

        &-footer {
            flex: 0 0 auto;
            background: transparent;
            padding-left: 0.9rem;

            .btn {
                margin-right: 1rem;
            }
        }
    }
}
