.nav {
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
    &-item {
        display: flex;
        @include media-breakpoint-down(lg) {
            margin: 0;
        }
    }
    &-link {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            margin: 0;
            width: 100%;
            border: none;
            border-radius: $border-radius;
        }

    }
}
//Main menu
.main-menu {
    &.nav {
        flex-basis: 23.75rem;
        order: 1;

        @include media-breakpoint-down(xl) {
            flex-basis: 18rem
        }

        @include media-breakpoint-down(lg) {
            flex-basis: auto;
        }

        .nav-item {
            margin-right: 1.5rem;

            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }
        }
        .nav-link {
            margin-bottom: -1px;
            padding: 2px 0 1px;
            border-bottom: 2px solid transparent;
            @include media-breakpoint-down(lg) {
                padding: 0.5rem 1rem;
            }

            &.active {
                color: var(--nav-link-color_active);
                font-weight: $font-weight_bold;
                border-color: $orange;
            }

            @include media-breakpoint-down(lg) {

                &.active {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }
}
//Secondary menu
.secondary-menu {
    &.nav {
        flex: 0 0 auto;
        order: 3;

        .nav-item {
            margin-left: 2rem;

            @include media-breakpoint-down(lg) {
                margin: 0;
            }
        }
        .nav-link {
            padding: 0;

            @include media-breakpoint-down(lg) {
                padding: 0.5rem 1rem;
                width: auto;
            }
        }

        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
        .dropdown-icon {
            margin-left: 0.35rem;
            display: inline-block;
            font-size: 0.45rem;
        }
    }
}
//Sidebar
.sidebar-menu {
    margin-left: -0.75rem;
    &.nav {
        .nav-link {
            padding: 0.5rem 0.9rem;
            width: 100%;
            max-width: 273px;
            border-radius: 0.5rem;
            font-weight: $font-weight_bold;

            .icon {
                margin-right: 0.7rem;
                font-size: 1.25rem;

                &.icon-pict {
                    font-size: 1.125rem;
                }
            }
            &.active {
                background: $orange;
                color: $white;
            }
        }
    }
}
