.sorting {
    .btn {
        width: 5.5rem;
        border-color: $sort-btn-border;
        color: $sort-btn-color;
        font-weight: $font-weight_bold;
        transition: all .3s;

        &:hover {
            background: $sort-btn-bg-hover;
            color: $sort-btn-color-hover;
            border-color: $sort-btn-border-hover;
        }
    }
    .btn-check {
        &:checked {
            & + .btn {
                background: $sort-btn-bg-active;
                border-color: $sort-btn-border-active;
                color: $sort-btn-color-active;
            }
        }
        &:not(.btn-check:first-child) {
            & + .btn {
                margin: 0;
            }
        }
    }
}
