@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$font-weight_regular:   400;
$font-weight_medium:    500;
$font-weight_bold:      700;

//Icons
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?667gyk');
    src:  url('../fonts/icomoon.eot?667gyk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?667gyk') format('truetype'),
    url('../fonts/icomoon.woff?667gyk') format('woff'),
    url('../fonts/icomoon.svg?667gyk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
