@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');

$font-family: 'Commissioner', sans-serif;

$font-weight_regular:   500;
$font-weight_bold:      700;

$font-size-sm:          14px;
$font-size-md:          16px;
$font-size-bg:          24px;
$font-size-lg:          40px;

$font-size:             $font-size-md;

$line-height:            1.5;
$line-height-bg:         1.1;
