$secondary: var(--secondary);

$body-bg: var(--body-bg);

$text-color: var(--text);

$border: var(--border);

//Menu
$nav-link-color: var(--nav-link-color);
$nav-link-color_hover: var(--primary);
$nav-link-color_active: var(--nav-link-color_active);

//Sorting buttons
$sort-btn-color: var(--sort-btn-color);
$sort-btn-color-hover: var(--sort-btn-color-hover);
$sort-btn-border: var(--sort-btn-border);
$sort-btn-border-hover: var(--sort-btn-border-hover);
$sort-btn-bg-hover: var(--sort-btn-bg-hover);
$sort-btn-color-active: var(--sort-btn-color-active);
$sort-btn-border-active: var(--sort-btn-border-active);
$sort-btn-bg-active: var(--sort-btn-bg-active);
