$secondary: var(--secondary);

$body-bg: var(--body-bg);

$text-color: var(--border);

$border: var(--border);

//Menu
$nav-link-color: var(--nav-link-color);
$nav-link-color_hover: var(--primary);
$nav-link-color_active: var(--nav-link-color_active);
