html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-style: normal;
	color: var(--text);
	background: var(--body-bg);
	transition: background-color .3s;
}

.container-fluid {
    max-width: 1140px;
}
