.content-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include media-breakpoint-down(lg) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.content-title {
    h1, .h1 {
        margin-bottom: 0;
        color: $text-color;
    }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $text-color;
    transition: color .3s;
}
