.header {
    border-bottom: 1px solid var(--border);

    .collapse {
        display: flex;

        @include media-breakpoint-down(lg) {
            &:not(.show) {
                display: none;
            }
        }
    }

    .navbar-collapse {
        align-items: normal;
    }

    &-inner {
        width: 100%;

        @include media-breakpoint-down(lg) {
            padding: 1rem;
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            z-index: 2;
            top: 100%;
            background: var(--body-bg);
            border: 1px solid var(--border);
            border-radius: $border-radius;
        }
    }
}

.navbar {
    width: 100%;
    align-items: normal;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 1rem 0;
    }
}

.navbar-toggler {
    background: var(--navbar-toggler-color);
}
